{% extends 'base.html' %}

{% block title %}Tâche d'analyse{% endblock %}

{% block body %}

<div class="row">
  <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-sm-flex align-items-center mb-4">
          <h4 class="card-title">Ajouter une Tâche d'analyse</h4>
        </div>
        <p class="card-description"><i class="icon-info"></i> Informations sur Tâche d'analyse</p>
          <form class="form-sample" method="POST" action="{% url 'creetacheanalyse' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p style="color: red;">Les champs avec <abbr style="color: red;"></abbr>*</abbr> sont obligatoires.</p>
            <div class="form-group row">
              <div class="col">
                <label for="exampleInputName1">Nom de la tâche <abbr style="color: red;">*</abbr></label>
                <input type="text" class="form-control" id="exampleInputName1" name="tache" required>
              </div>
              <div class="col">
                <label>Sous-réseaux <abbr style="color: red;">*</abbr></label>
                <select class="form-control js-example-basic-single" name="idsreseau" required>
                  {% for sres in sr %}
                  <option value={{sres.id}}>{{sres.adresse}}</option>
                  {% endfor %}
                </select>
                </div>
              </div>
    
            <div class="form-group row">
              <div class="col">
                <div class="bootstrap-timepicker">
                  <div class="form-group">
                    <label>Temps <abbr style="color: red;">*</abbr></label>
  
                      <div class="input-group">
                        <input type="text" class="form-control timepicker" name="temps" required>
  
                        <div class="input-group-addon">
                            <span class="input-group-text"><i class=" icon-clock "></i></span>
                        </div>
                      </div>
                  </div>
              </div>
                
              </div>
              <div class="col">
                <label>Date <abbr style="color: red;">*</abbr></label>
                <input type="date" class="form-control" id="exampleInputName1" name="date" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col">
              <label>Activer / Désactiver</label>
              <select class="form-control js-example-basic-single"  name="etat" >
                <option value="True">Activer</option>
                <option value="False">Désactiver</option>
              </select>
              </div>
              <div class="col"></div>
            </div>
            <button type="submit" class="btn btn-primary mr-2">Créer</button>
            <a href="{% url 'tacheanalyse' %}" class="text-dark ml-auto mb-3 mb-sm-0"> <button type="button" class="btn btn-inverse-dark">Annuler</button></a>
          </form>
        </div>
      </div>
    </div>
     </div>   

{% endblock %}