{% extends 'base.html' %}

{% block title %}Historiques{% endblock %}
{% block search %} 
<form class="search-form d-none d-md-block" action="{% url 'historyadresseip' %}">
    <i class="icon-magnifier"></i>
    <input type="search" class="form-control" placeholder="Rechercher...." title="Cherche ici" name="search">
</form>
{% endblock %}
{% block body %}
    <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
        <div class="d-sm-flex align-items-center mb-4">
            <h4 class="card-title mb-sm-0">Liste des historiques - Adresses IPs</h4>
            <a onclick="return confirm('Etes-vous sûr de supprimer?')" href="{% url 'supphistoadresseip' %}" class="text-dark ml-auto mb-3 mb-sm-0"> <button type="button" class="btn btn-inverse-danger btn-fw">Supprimer tout</button></a>
        </div>
        <div class="table-responsive border rounded p-1">
            <table class="table">
            <thead>
                <tr>
                <th class="font-weight-bold">Date </th>
                <th class="font-weight-bold">Adresse IP</th>
                <th class="font-weight-bold">Nom d'hôte</th>
                <th class="font-weight-bold">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for h in page %}
                <tr>
                   <td>{{h.date_action}}</td>
                   <td>{{h.nouveau_adresse}}</td>
                   <td>{{h.nouveau_nom}}</td>
                   {% if h.etat == False %}
                   <td><div class="badge badge-danger">Libérer</div></td>
                   {% elif h.etat == True  %}
                   <td><div class="badge badge-success">Attribuer</div></td>
                   {% endif %}
               </tr>
               {% endfor %}
               
            </tbody>
            </table>
        </div>
   
        <div class="d-flex mt-4 flex-wrap">
            <nav class="ml-auto">
              <ul class="pagination separated pagination-info">
                <li class="page-item"><a href="{{prev_page_url}}" class="page-link"><i class="icon-arrow-left"></i></a></li>
                {% for n in page.paginator.page_range %}
                   {% if page.number == n %}
                <li class="page-item active"><a href="?page={{ n }}" class="page-link">{{ n }}</a></li>
                   {% elif n > page.number|add:-3 and n < page.number|add:3 %}
                <li class="page-item"><a href="?page={{ n }}" class="page-link">{{ n }}</a></li>
                   {% endif %}
                {% endfor %} 
                <li class="page-item"><a href="{{next_page_url}}" class="page-link"><i class="icon-arrow-right"></i></a></li>
             
            </ul>
            </nav>
          </div>

        </div>
        </div>
        </div>
        </div>


{% endblock %}