{% extends 'base.html' %}

{% block title %}VLANs{% endblock %}

{% block search %} 
<form class="search-form d-none d-md-block" action="{% url 'vlan' %}">
    <i class="icon-magnifier"></i>
    <input type="search" class="form-control" placeholder="Rechercher...." title="Cherche ici" name="search">
</form>
{% endblock %}
{% block body %}

        <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <div class="d-sm-flex align-items-center mb-4">
                <h4 class="card-title mb-sm-0">Liste des VLANs</h4>
                <a href="{% url 'ajoutervlan' %}" class="text-dark ml-auto mb-3 mb-sm-0"> <button type="button" class="btn btn-inverse-success btn-fw"><i class="icon-pencil"></i>&nbsp;Ajouter un VLAN</button></a>
            </div>
            {% if messages %}{% for mess in messages %}
            <div class="alert alert-danger" id="mainAlertMessage">
             <button class="close" data-dismiss="alert">×</button>
             <strong>{{mess}} </strong></div>
             {% endfor %} {% endif %}
            <div class="table-responsive border rounded p-1">
                <table class="table">
                <thead>
                    <tr>
                    <th class="font-weight-bold">IDVLAN </th>
                    <th class="font-weight-bold">Nom </th>
                    <th class="font-weight-bold">Description</th>
                    <th class="font-weight-bold">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in page %}
                    <tr>
                      <td style="text-transform: uppercase;">{{v.idvlan}}</td>
                       <td>{{v.nom}}</td>
                       <td>{{v.description}}</td>
                       <td><a href="{% url 'modifvlan' v.id %}"><button type="button" class="btn btn-inverse-dark btn-rounded btn-icon" title="Modifier">
                        <i class="icon-note"></i>
                      </button></a>
                      <a onclick="return confirm('Etes-vous sûr de supprimer?')" href="{% url 'suppvlan' v.id %}"><button type="button" class="btn btn-inverse-danger btn-rounded btn-icon" title="Supprimer">
                        <i class="icon-trash"></i>
                      </button></a>
                    </td>
                    
                   </tr>
                   {% endfor %}
                   
                </tbody>
                </table>
            </div>
            <div class="d-flex mt-4 flex-wrap">
                <nav class="ml-auto">
                  <ul class="pagination separated pagination-info">
                    <li class="page-item"><a href="{{prev_page_url}}" class="page-link"><i class="icon-arrow-left"></i></a></li>
                    {% for n in page.paginator.page_range %}
                       {% if page.number == n %}
                    <li class="page-item active"><a href="?page={{ n }}" class="page-link">{{ n }}</a></li>
                       {% elif n > page.number|add:-3 and n < page.number|add:3 %}
                    <li class="page-item"><a href="?page={{ n }}" class="page-link">{{ n }}</a></li>
                       {% endif %}
                    {% endfor %} 
                    <li class="page-item"><a href="{{next_page_url}}" class="page-link"><i class="icon-arrow-right"></i></a></li>
                 
                </ul>
                </nav>
              </div>
            </div>
            </div>
            </div>
            </div>
            
      
{% endblock %}